#menu2{
   
    padding-left: 20px;
}

.mcontainer{
    width:100%;
	
    height:100px;
   
    
    position:relative;
    overflow:hidden;
    border:3px solid #fff;
  
    background-color:#fff;
   box-shadow:1px 1px 6px #000;
    -webkit-box-shadow:1px 1px 6px #000;
    -moz-border-radius:0px 0px 20px 20px;
    -webkit-border-bottom-left-radius:20px;
    -webkit-border-bottom-right-radius:20px;
    border-radius:0px 0px 20px 20px;
}
ul#menu{
    list-style:none;
    position:absolute;
    bottom:0px;
    left:20px;
    font-size:24px;
    font-family:Helvetica, PT Sans Narrow, Arial, sans-serif;
    font-weight: bold;
    color:#666;
    letter-spacing:-2px;
}
ul#menu li{
    float:left;
    margin:0px 10px 0px 0px;
}
ul#menu a{
    cursor:pointer;
    position:relative;
    float:left;
    bottom:-75px;
    line-height:20px;
    width:210px;
}
.icon_about,
.icon_work,
.icon_help,
.icon_search{
    width:64px;
    height:64px;
    display:block;
    left:140px;
    top:50px;
    position:absolute;
}
.icon_about{
    background:transparent url(../src/howweork.png) no-repeat top left;
}
.icon_work{
    background:transparent url(../src/globe.png) no-repeat top left;
}
.icon_help{
    background:transparent url(../images/help.png) no-repeat top left;
}
.icon_search{
    background:transparent url(../images/find.png) no-repeat top left;
}
ul#menu span.title{
    display:block;
    height:26px;
    text-shadow:1px 1px 1px #000;
    color:#666;
    text-indent:10px;
}
ul#menu span.description{
    width:150px;
	height:50px;
    background-color:#666;
    border:3px solid #fff;
    color:#fff;
    display:block;
    font-size:22px;
    padding:10px;
    line-height: 22px;
    -moz-box-shadow:1px 1px 6px #000;   
    -webkit-box-shadow:1px 1px 6px #000;
    box-shadow:1px 1px 6px #000;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
ul#menu a:hover span.description{
    background-color:#111;
    color:#00ccff;
    text-decoration:none;
}
ul#menu a:hover span.title{
    color:#54504F;
    text-decoration:none;
}
